@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
:root {
    --delta_red: #D63542;
    --delta_blue: #7FA7D8;
    --shadow_color_light: rgba(0, 0, 0, 0.08);
    --shadow_color_dark: rgba(0, 0, 0, 0.15);
    --background_first: #FFFFFF;
    /*najsvetlija bg*/
    --background_second: #F5F5F5;
    /*srednja bg*/
    --background_third: #EBEBEB;
    /*tamna bg*/
    --button_blue: #467EC3;
    --button_blue_hover: #30619C;
    --text_first: #141414;
    /*najtamnija text*/
    --text_second: #292929;
    /*srednja text*/
    --text_third: #3D3D3D;
    /*najsvetlija text*/
    --input_field_border: #D7D6D6;
    /*svelosiva boja bordure polja za unos*/
    --input_field_placeholder: #B9B9B9;
    --color_white: #FFFFFF;
    --color_black: #000000;
    --font: 'Ubuntu', sans-serif;
}

/*DELTATEKS CRVENA - #D63542  */

/*DELTATEKS PLAVA - #7FA7D8*/

/*DARK GRAY COLOR - #141414*/

/*EXTRA LIGHT GRAY - #EBEAEA*/

body, h1, h2, h3, h4, h5, h6 {
    /*font-family: var(--body-fonts)!important;*/
    font-family: var(--font)!important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--input_field_placeholder)!important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--input_field_placeholder)!important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--input_field_placeholder)!important;
}

/*boja header-a i footer-a*/

.gs-header .gs-main-nav {
    background: var(--text_first)!important;
}

/*header kontakt info - telefon & email*/

.gs-head-contacts {
    display: none!important;
}

/*header text sa leve strane*/

.gs-head-links ul li a {
    font-size: 12px!important;
}

/*header picker za jezik*/

.gs-lang-bar ul a.active {
    text-transform: uppercase;
    background: #D63542!important;
    color: #fff;
    font-weight: bold;
}

.gs-lang-bar ul a {
    text-transform: uppercase;
    font-size: 13px!important;
    /*font-weight: bold;*/
    border-radius: 3px;
    color: #fff;
    background: transparent!important;
}

.gs-lang-bar ul a:hover {
    background: #474747!important;
}

/*boja pozadine nava*/

.gs-header, .gs-logo-wrap {
    background: var(--background_first)!important;
}

/*kategorije proizvoda borders gore & dole*/

.gs-cat-nav {
    border-top: 1px solid var(--background_second)!important;
    box-shadow: 0 2px 2px var(--shadow_color_light)!important;
}

/*button search i cart u navu*/

.gs-search-form .gs-field-box button, .gs-cart a.gs-add-to-cart span.icon {
    border: none!important;
    background: var(--text_first)!important;
    color: var(--color_white) !important;
    border-radius: 5px!important;
    box-shadow: 4px 4px 6px var(--shadow_color_light);
    display: inline-block!important;
    transition: all 0.3s ease 0s!important;
    height: 35px!important;
    width: 35px!important;
    line-height: 35px!important;
    padding: 0px!important;
}

.gs-search-form .gs-field-box button:hover, .gs-cart a.gs-add-to-cart span.icon:hover {
    color: var(--color_white)!important;
    background: var(--button_blue_hover)!important;
    -webkit-box-shadow: 0px 5px 40px -10px var(--shadow_color_dark)!important;
    -moz-box-shadow: 0px 5px 40px -10px var(--shadow_color_dark)!important;
    transition: all 0.5s ease 0s!important;
}

/*boja koliko ima proizvoda u korpi*/

.gs-cart a.gs-add-to-cart .gs-cart-sum {
    background: var(--delta_red)!important;
    font-weight: bold!important;
    border-radius: 3px!important;
    font-size: 13px!important;
    line-height: 23px!important;
    right: -11px!important;
}

/*search polje u navu*/

.gs-search-form .gs-field-box input.gs-text-field {
    color: #000000!important;
    /*boja texta*/
    border-radius: 5px!important;
    width: 280px!important;
    height: 35px!important;
    border: 1px solid var(--input_field_border)!important;
}

.gs-search-form .gs-field-box input.gs-text-field:hover, .gs-search-form .gs-field-box input.gs-text-field:focus {
    /*boja search polja kada se hover/focus preko njega*/
    background-color: var(--background_second);
}

/*breadcrumbs*/

.gs-breadcrumb ul a em {
    font-style: normal!important;
}

.gs-breadcrumb ul span {
    /*active breadcrumb*/
    color: var(--delta_red);
}

/*product page banner*/

.gs-fw-banner {
    position: relative;
    padding: 0px!important;
    border: 0px solid !important;
}

/*product page title and description*/

.gs-section-title h1 {
    font-size: 25px;
    font-weight: bold;
}

/*product page description*/

.gs-copy-text p {
    font-size: 15px!important;
}

/*product page sort dropdown section*/

.gs-cat-filter form {
    background: var(--background_first)!important;
}

/*product page filter dropdown*/

.gs-cat-filter .gs-select-head {
    background: var(--background_first)!important;
    border-radius: 5px!important;
    border: 1px solid var(--input_field_border)!important;
}

/*product page filter dropdown SORTIRAJ*/

.gs-cat-filter .gs-select-head span {
    font-size: 11px;
    color: var(--color_black)!important;
    font-weight: 600!important;
}

/*sortiranje body dropdown-a*/

.gs-cat-filter .gs-select-body {
    background: var(--color_white)!important;
    color: var(--color_black)!important;
}

/*sortiranje body dropdown-a text za sort*/

.gs-cat-filter .gs-select-body .gs-fake-option label {
    padding: 12px 20px!important;
}

/*product page filter dropdown arrow button*/

.gs-cat-filter .gs-select-head em {
    background: var(--delta_red)!important;
    top: 4px!important;
    right: 5px!important;
    width: 26px!important;
    height: 26px!important;
    border-radius: 3px!important;
    font-size: 14px!important;
    line-height: 28px!important;
}

/*product page sidebar filter reset option*/

.gs-filters-title a {
    font-size: 13px;
}

/*product page sidebar filter*/

.gs-sidebar {
    background: var(--background_second)!important;
    border: 2px solid var(--background_third)!important;
}

/*product page sidebar filter title label */

.gs-cat-filters .gs-cat-title strong, .gs-price-slider span {
    font-weight: bold;
}

/*product page sidebar filter label size */

.gs-cat-labels label {
    font-family: var(--font)!important;
    font-size: 13px!important;
}

/*product page sidebar filter price slider*/

.noUi-connect {
    background: var(--text_third)!important;
}

/*product element new star*/

.gs-floated-grid .gs-item-image .gs-tags em.gs-new {
    font-size: 20px!important;
}

/*product element item*/

.gs-floated-grid .gs-item-text a strong {
    font-weight: 600!important;
    font-size: 15px!important;
    padding: 0 15px 0 15px!important;
}

.gs-floated-grid .gs-item-text strong {
    background: #FFFFFF!important;
    color: #000000!important;
}

.gs-floated-grid .gs-item-text a em.icon {
    display: none!important;
}

.gs-floated-grid .gs-item-text a span {
    margin: 0!important;
}

.gs-floated-grid .gs-item-price span {
    font-weight: 500!important;
}

.gs-floated-grid .gs-item-price {
    margin: 8px 0 15px 0!important;
}

.gs-floated-grid .gs-item-data {
    /*border-radius: 10px;*/
    border-color: var(--background_third)!important;
}

.gs-floated-grid .gs-item-data:hover {
    box-shadow: 4px 4px 6px var(--shadow_color_light);
}

.gs-floated-grid .gs-item-image img {
    /*border-top-left-radius:10px;*/
    /*border-top-right-radius: 10px;*/
}

/*product details page*/

.gs-detail-descr h1 {
    /*product title*/
    font-size: 25px!important;
    font-weight: bold;
}

.gs-cart-form {
    /*price form*/
    font-size: 13px!important;
    font-family: var(--font)!important;
}

.gs-sbm-cart {
    /*dugme kupi*/
    font-weight: bold;
    border-radius: 3px!important;
}

.gs-detail-slider .gs-pattern {
    /*active image thumbnail cover*/
    background: rgba(127, 167, 216, 0.6)!important;
}

.gs-section-title h5 {
    /*slicni proizvodi text*/
    font-size: 23px !important;
    font-weight: bold;
}

/*cart page - vasa korpa*/

.gs-cart-wrap {
    /*main border color*/
    border-color: var(--background_third)!important;
}

.gs-cart-table .gs-cart-row.head-row {
    color: var(--text_first);
    font-weight: 600;
}

.gs-cart-table .gs-cart-cell, .gs-cart-table .gs-order-img img, .gs-cart-table {
    /*boja bordera unutar tabele*/
    border-color: var(--background_third)!important;
}

.gs-order-quantity .quantity-input input {
    /*boja bordera za kolicinu picker*/
    border-color: var(--text_third)!important;
}

.gs-cart-table .gs-order-quantity .gs-quantity-change {
    left: 70px;
}

/*potvrditi text*/

.gs-cart-table .gs-order-quantity a {
    font-weight: 500;
    font-family: var(--font)!important;
}

.gs-cart-wrap .gs-total-sum strong {
    color: var(--text_first)!important;
    font-weight: 500!important;
}

.gs-view-more.gray {
    /*back to shop button*/
    font-weight: bold;
    border-color: var(--text_first)!important;
    background: var(--text_first)!important;
}

.gs-view-more.gray:hover {
    /*back to shop button*/
    border-color: var(--text_first)!important;
    color: var(--text_first)!important;
    background: var(--color_white)!important;
}

.gs-view-more.accent {
    font-weight: bold;
    border-color: var(--button_blue_hover)!important;
    color: var(--color_white)!important;
    background: var(--button_blue_hover)!important;
}

.gs-view-more.accent:hover {
    font-weight: bold;
    border-color: var(--button_blue_hover)!important;
    color: var(--button_blue_hover)!important;
    background: var(--color_white)!important;
}

/*main page*/

.gs-top-slider, .gs-grid-banners .gs-item-wrap {
    /*main page big slider i mali slider*/
    padding: 0px!important;
    border: 0px solid!important;
}

/*main page big banner slider controls*/

.gs-top-slider .gs-top-sliders-controlls a {
    border-radius: 10px;
    background: var(--shadow_color_dark)!important;
}

.gs-top-slider .gs-top-sliders-controlls a:hover {
    background: var(--text_second)!important;
    color: var(--delta_blue);
}

/*main page small banners text*/

.gs-grid-banners .gs-item-data .gs-text-wrap h5 {
    line-height: 22px!important;
    font-size: 22px!important;
}

.gs-grid-controlls {
    /*main page boja pozadine popularni proizvodi*/
    /*background: #fbfbfb;*/
}

.gs-grid-controlls h5 {
    /*main page popularni proizvodi text*/
    background: var(--background_first)!important;
    color: var(--text_first)!important;
    font-weight: 600!important;
}

.gs-grid-controlls a {
    /*main page popularni proizvodi slider controls*/
    background: var(--text_second)!important;
    color: var(--background_first);
}

.gs-grid-controlls a:hover {
    /*main page popularni proizvodi slider controls*/
    background: var(--delta_red)!important;
    color: var(--color_white)!important;
}

/*main page blog section*/

.gs-floated-grid .gs-home-news {
    border: 1px solid var(--input_field_border);
    background: var(--background_first) !important;
    padding: 5px 15px 0;
}

.gs-floated-grid .gs-home-news:hover {
    border: none;
    box-shadow: 5px 5px 10px var(--shadow_color_dark);
}

.gs-floated-grid .news-text h6 {
    /*main blog title*/
    /*font-size: 18px;*/
    font-weight: bold!important;
}

/*news page*/

.gs-news-list .news-list-title h6 {
    font-weight: bold;
    font-size: 20px;
}

/*kontakt page*/

.gs-contact-form h6 {
    font-weight: bold!important;
}

.gs-important {
    /*boja texta za FAQ*/
    line-height: 1.4em;
    color: #000!important;
}

.gs-important a {
    color: #D63542!important;
    font-weight: bold;
}

.gs-contact-info li a:hover {
    color: var(--delta_red)!important;
}

.gs-contact-form label {
    font-size: 14px!important;
    /*font-weight: 300;*/
    margin-bottom: 7px!important;
}

/*kontakt input fields*/

.gs-contact-form .gs-textarea-fld, .gs-contact-form input.gs-text-fld {
    border: 1px solid var(--input_field_border) !important;
    border-radius: 5px!important;
}

.gs-contact-form .gs-sbm-cont {
    font-weight: bold;
    border-color: var(--button_blue_hover)!important;
    background: var(--button_blue_hover)!important;
}

.gs-contact-form .gs-sbm-cont:hover {
    border-color: var(--button_blue_hover)!important;
    color: var(--button_blue_hover)!important;
    background: var(--color_white)!important;
}

/*F.A.Q. page*/

.gs-faq-item .gs-faq-text .gs-separator {
    padding: 5px 0;
}

.gs-faq .gs-faq-icon {
    width: 45px!important;
    height: 45px!important;
    font-size: 30px!important;
    line-height: 45px!important;
    font-family: var(--font)!important;
}

.gs-faq-question h6 {
    font-weight: bold;
    font-size: 18px!important;
    color: #141414!important;
}

.gs-faq-answer p {
    padding-left: 5px!important;
}

/*FOOTER*/

.gs-footer {
    font-family: var(--font)!important;
    border-top: 1px solid #7fa7d9;
    background: var(--color_white)!important;
    /*background: #F5F5F5!important; */
    color: var(--text_second)!important;
}

.gs-footer .gs-footer-nav.small a {
    font-size: 12px!important;
    font-weight: 600!important;
    color: var(--text_first)!important;
}

.gs-footer .gs-footer-nav.small a:hover {
    transition: all .3s ease-out;
    color: var(--delta_red)!important;
}

#gs-footer .gs-separator {
    padding: 8px 0!important;
    /*background: #404040!important; */
}

/*#userDataFrm h2:nth-of-type(3) {*/

/*  display: none!important;*/

/*}*/

/*footer social*/

.gs-footer .gs-footer-socials ul li {
    background: var(--background_first)!important;
    box-shadow: 4px 4px 6px var(--shadow_color_light), inset 4px 4px 6px var(--shadow_color_light);
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 10px;
}

.gs-footer .gs-footer-socials ul li:hover {
    cursor: pointer;
    background: var(--background_second)!important;
    box-shadow: 4px 4px 6px var(--shadow_color_dark);
}

.gs-footer .gs-footer-socials ul a {
    font-size: 18px!important;
    margin: 10px;
    color: var(--color_black);
}

/*footer remove all product categories*/

.gs-footer-nav~.gs-footer-nav {
    visibility: hidden!important;
    display: none;
}

/*footer social section*/

.gs-footer .gs-footer-socials {
    margin-top: 5px!important;
}

/*pregled korpe - narucivanje korak 2*/

.checkout {
    font-family: var(--font)!important;
}

.checkout h1, .checkout h2 {
    font-size: 20px;
    color: var(--text_first)!important;
    font-weight: bold;
}

/*izmeni dugme*/

.checkout-edit {
    padding-right: 28px!important;
    border-radius: 3px!important;
    font-family: var(--font)!important;
    height: 40px!important;
    background: #141414!important;
}

.checkout .back {
    font-weight: 600;
    height: 43px!important;
    border: 1px solid var(--text_second);
    background: var(--text_second)
}

.checkout .back:hover {
    border: 1px solid var(--text_second);
    background: var(--color_white);
    color: var(--text_second);
}

.checkout-items {
    border: none;
    /*todo*/
    /*box-shadow:-10px -10px 30px 0 red, 10px 10px 30px 0 green, -10px -10px 10px 0 yellow inset , 10px 10px 10px 0 blue inset;*/
    /*box-shadow:-10px -10px 10px 0 rgba(0,0,0,0.08), 10px 10px 10px 0 rgba(0,0,0,0.15);*/
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.08);
    border-radius: 10px!important;
    background: rgba(0, 0, 0, 0.08);
    color: #141414!important;
}

.checkout-items ul {
    border-bottom: 2px solid #141414;
}

.checkout-items .total-sum span {
    margin-left: 5px;
    font-size: 18px;
    color: #4676b1!important;
    font-weight: bold!important;
}

.checkout-content #descr p {
    font-size: 14px;
}

/*logged user profile page*/

.user .hint {
    font-size: 13px!important;
}

.checkout-login {
    font-family: var(--font)!important;
    font-size: 13px;
    font-weight: 600!important;
    color: #1F1F1F!important;
}

.checkout-login:hover {
    color: #d63542!important;
}

/*total cena proizvoda u hederu*/

.gs-cart-info .accent-color {
    color: var(--text_second)!important;
}

/*cart popup bubble*/

.gs-cart-box {
    background: var(--background_first)!important;
    border-radius: 10px;
}

/*cart popup bubble button*/

.gs-cart-box .gs-cart-total a {
    color: var(--color_white)!important;
    background: var(--button_blue)!important;
    padding: 11px 12px!important;
    border-bottom-right-radius: 10px!important;
}

.gs-cart-box .gs-cart-total a:hover {
    background: var(--button_blue_hover)!important;
}

/*cart popup bubble price color*/

.gs-cart-box .gs-cart-cell em, .gs-cart-box .gs-cart-total strong {
    color: var(--text_second)!important;
}

/*cart popup bubble text color*/

.gs-cart-box .gs-cart-cell span, .gs-cart-box .gs-cart-cell strong {
    color: var(--text_third)!important;
}

/*login page*/

/*user login error email & password*/

.login .enter-num {
    margin-bottom: 20px;
}

.checkout-content {
    border: none!important;
    border-radius: 10px!important;
}

.checkout-content p {
    color: var(--text_second)!important;
    line-height: 16px!important;
    font-size: 13px!important;
}

.checkout label {
    margin-top: 15px;
    line-height: 37px;
    font-family: var(--font)!important;
    font-size: 12px;
    color: var(--text_second)!important;
}

.checkout label span {
    font-weight: 600!important;
    border: none!important;
    background: none!important;
    /*ovo za width treba da check*/
    /*width: 60px!important;*/
}

.checkout input, .checkout select {
    padding-left: 15px;
    width: 320px;
    height: 39px;
    border-radius: 5px;
    line-height: 37px;
    background: var(--color_white);
}

.login form .btn-holder {
    margin-top: 30px!important;
}

.login form .btn-holder a {
    font-weight: 600!important;
    color: var(--text_first)!important;
}

.login form .btn-holder a:hover {
    color: var(--delta_red)!important;
}

.checkout .submit {
    height: 45px!important;
    font-weight: 600!important;
    font-family: var(--font)!important;
    border: 1px solid var(--button_blue_hover)!important;
    background: var(--button_blue_hover)!important;
}

.checkout .submit:hover {
    color: var(--button_blue_hover)!important;
    ;
    border: 1px solid var(--button_blue_hover)!important;
    background: var(--background_first)!important;
}

.login-text #error {
    color: red!important;
}

.login-form .enter-num {
    margin-top: 40px!important;
    margin-bottom: 0px!important;
}

footer .checkout {
    border-top: none!important;
    padding-top: 10px;
}

footer .checkout .pull-left a, footer .checkout .pull-right a {
    font-size: 13px!important;
    font-family: var(--font)!important;
    line-height: 20px;
    font-weight: 600!important;
    color: var(--text_second)!important;
}

footer .checkout .pull-left a:hover, footer .checkout .pull-right a:hover {
    color: var(--delta_red)!important;
}

footer .checkout .pull-right .phone {
    display: none;
    font-size: 13px!important;
    font-family: var(--font)!important;
    line-height: 20px;
    font-weight: 600!important;
    color: var(--text_second)!important;
}

header .header-text a {
    font-size: 13px!important;
    font-family: var(--font)!important;
    line-height: 20px;
    font-weight: 600!important;
    color: var(--text_second)!important;
}

#sentMailMsg {
    color: var(--delta_red);
}

/*BRZI PREGELD POPUP*/

.gs-qv-close span {
    top: 7px!important;
    left: 0px!important;
}

/*order end screen*/

.order-end p {
    font-size: 13px;
}

/*logged in user. stranica trenutne porudzbine*/

#sm0000012, #orderAgain0000012 {
    height: 31px!important;
}

/*powered by gombashop footer copyright remove*/

.gs-footer .gs-copy-right span.gs-copy-ft:nth-child(2) {
    display: none!important;
}

/*MOBILE*/

/*mobile*/

/*mobile*/

/*mobile*/

.mgs-top-line-actions {
    /*header bg*/
    background-color: #141414!important;
}

.mgs-top-line-actions nav a {
    /*text header levo*/
    margin: 0 1rem 0 0!important;
}

.mgs-top-line-actions .mgs-lang-list a.active {
    /*text language header*/
    color: #FFFFFF!important;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    background-color: #d63542;
}

.mgs-top-header {
    /*padding sa lefe i desne str headera*/
    padding: 0 1rem!important;
}

.mgs-mobile-btn {
    /*hamburger menu*/
    width: 20px!important;
    height: 20px!important;
    margin-right: 1.5rem!important;
}

.mgs-mobile-btn .line {
    /*hamburger menu line*/
    height: 1.5px!important;
}

.mgs-mobile-search {
    /*search icon*/
    font-size: 20px!important;
}

.icon-ico_search {
    /*search icon*/
    font-weight: bold!important;
}

.mgs-login-action .head-icon {
    /*login avatar icon*/
    font-size: 20px!important;
    font-weight: bold!important;
}

.mgs-cart {
    /*cart whole field*/
    margin-left: 20px!important;
    /*left: -3px!important;*/
}

.mgs-cart .icon {
    /*cart icon*/
    left: -2px;
    font-weight: bold;
    font-size: 20px!important;
    text-align: center;
}

.mgs-cart .mgs-cart-items {
    /*cart red number icon*/
    right: -12px!important;
}

.mgs-share-menu a .icon-ico_facebook, .mgs-share-menu a .icon-instagram {
    /*side menu social bg color*/
    /*background-color: #141414;*/
}

.mgs-share-menu a .icon:before {
    /*side menu social icon alligment*/
    top: 0px!important;
}

.mgs-share-menu a .icon {
    /*side menu social icon style*/
    font-size: 12px;
    width: 25px;
    line-height: 25px;
    height: 25px;
    margin-right: 7px;
}

.mgs-tags {
    /*ikonica tag na slikama*/
    margin: 8px;
}

.mgs-footer .mgs-footer-col .mgs-footer-col-pages {
    margin: 0 0 1rem;
}

.mgs-footer .mgs-footer-col-title {
    /*footer*/
    color: #7FA7D8;
}

.mgs-footer .mgs-footer-col nav a {
    color: #9c9c9c;
}

.mgs-footer .mgs-footer-contact .mgs-f-c-label {
    color: #EBEAEA;
}

.mgs-footer .mgs-footer-contact .mgs-f-c-descr a {
    color: #D63542!important;
}

.mgs-footer .mgs-footer-contact a {
    font-weight: bold;
}

.mgs-footer .mgs-footer-grid {
    padding: 2rem .8rem 0;
}

.mgs-footer .mgs-footer-info {
    padding: 0 .8rem .8rem;
    text-align: justify;
}

.mgs-footer .mgs-footer-info, .mgs-footer .mgs-footer-marker {
    border-color: #7FA7D8!important;
}

.mgs-footer .mgs-footer-marker {
    padding: .5rem .8rem .5rem .8rem;
    border-top: 1px solid;
}

.mgs-section {
    padding: 0 1rem!important;
}

.mgs-about-gray-section {
    /*about us bottom padding*/
    padding: 0px!important;
}

.mgs-breadcrumb a {
    /*breadcrumb not active */
    color: #141414!important;
}

.mgs-breadcrumb ul span {
    /*breadcrumb active*/
    font-style: italic;
    color: #D63542;
}

.bg-gray {
    /*blog gallery bg color*/
    background: none!important;
}

.mgs-news-detail-gallery, .gs-related-news {
    /*blog gallery padding*/
    padding: 0px!important;
}

.mgs-news-gray-section .mgs-section-title {
    /*blog galerija title*/
    display: none;
}

.mgs-contact-book .mgs-contact-item a {
    /*mobile contact page links*/
    font-weight: bold;
    color: #D63542;
}

.mgs-contact-book strong {
    /*mobile contact page title*/
    margin-bottom: 1px;
}

.mgs-view-more.white {
    /*mobile page contact FAQ button*/
    border-color: #7FA7D8!important;
    background: #7FA7D8!important;
    color: #FFFFFF!important;
    font-weight: bold;
}

.mgs-cart-form .mgs-select-wrap select {
    /*buy product dialog, select text color*/
    color: #141414!important;
}

.mgs-cart-table .mgs-product-name {
    /*mobile cart product name color*/
    color: #000000!important;
}

.mgs-back-to-shop a.mgs-view-more {
    /*mobile cart back to store button*/
    text-transform: none!important;
}

.mgs-view-more.transparent {
    /*back to store text*/
    color: #7FA7D8!important;
    border-color: #7FA7D8!important;
}

/*hide link ka faq u hederu, kada poprave FAQ link moze da se vrati*/

._dev-faq-link {
    display: none!important;
}

/*custom scrollbars*/

/*width */

/*::-webkit-scrollbar {*/

/*  width: 7px;*/

/*}*/

/*Track */

/*::-webkit-scrollbar-track {*/

/*  background: #EBEAEA; */

/*}*/

/*Handle */

/*::-webkit-scrollbar-thumb {*/

/*  background: #141414; */

/*}*/

/*Handle on hover */

/*::-webkit-scrollbar-thumb:hover {*/

/*  background: #7FA7D8; */

/*}*/

/*dodatne izmene za izdavanje racuna hide neke elemente*/

#userDataFrm h2:nth-of-type(3) {
    display: none!important;
}

#userDataFrm label:nth-of-type(16), #userDataFrm label:nth-of-type(17), #userDataFrm label:nth-of-type(18), #userDataFrm label:nth-of-type(19), #userDataFrm label:nth-of-type(20) {
    display: none!important;
}

/*checkout polje za izdavanje racuna ili fakture, to se uvek izdaje*/

/*.checkout-info:nth-of-type(4) p {
    display: none!important;
}*/